/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Custom styling */
.button-wrapper {
  display: flex;
  gap: 1em;

  a {
    /* button CSS reset: https://stackoverflow.com/questions/15845243/css-button-how-to-override-native-css-of-html-buttons-element */
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    border: white solid 1px;
    padding: 1em 2em;
  }

  a:hover {
    color: #292c1f;
    background: white;
  }

  a:active {
    background: lightgrey;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

nav {
  height: 5em;
  width: 100%;
  background: black;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 0.5em;

    a {
      padding: 1em;
    }
  }
}

.header-container {
  position: relative;

  svg {
    width: 40vw;
  }

  .container-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.headline {
  font-size: 12vw;
  line-height: 1;
  margin: 0;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.content-div {
  &.olive {
    background: #292c1f;
  }

  &.ochre {
    background: #e1cca0;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
  gap: 2em;

  > article {
    max-width: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.content-headline {
  text-transform: uppercase;
  font-weight: lighter;
  font-size : clamp(2rem, 5vw, 4rem);
  margin: 0;
}

.card-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.review-card-container {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 0.5em;
  flex: 1 1 240px;

  img {
    height: 20em;
    object-fit: cover;
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
  }

  .card-title {
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .card-content {
    padding: 1em;
  }
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
  padding: 2em;

  .section-title {
    text-transform: uppercase;
    font-size: 1.25em;
  }

  .business-hrs-section {
    display: flex;
    flex-direction: column;
  }

  section {
    flex: 1 1 240px;
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}

a {
  text-decoration: none;
  color: black;
}

/* logo animation */
.logo-path {
  path {
    stroke: #fff;
    stroke-width: 0;
    stroke-dasharray: 500;
  }
  path {
    animation: letter-animation 2s linear forwards;
  }
}

@keyframes letter-animation {
  0% {
    stroke-dashoffset: 500;
    stroke-width: 0.8;
    fill-opacity: 0;
    fill: #fff;
  }
  25% {
    fill-opacity: 0.2;
  }
  50% {
    fill-opacity: 0.5;
  }
  75% {
    fill-opacity: 0.8;
  }
  100% {
    fill-opacity: 1;
    stroke-width: 0;
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
